{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}
    <div class="inp__group mt-4">
        <form onsubmit="">
            <p class="modal__body_title">Авторизация</p>
            <p class="modal__body_text">Вход через</p>
            <input type="text" name="loginEmail_page" placeholder="Никнейм" required>
            <input type="password" name="loginPassword_page" placeholder="Пароль" required>
            <p style="text-align: center; color: red;" class="error_msg_page mt-1 mb-1"></p>
            <button class="modal__body_btn modal_btn_login" type="submit">Войти</button>
            <p style="text-align: center;"><a href="#" class="modal__body_text">Забыли пароль</a></p>
            <p style="text-align: center;">Ещё не зарегистрированы? <a href="#" data-toggle="modal" data-target="#loginModal" class="modal__body_text">Регистрация</a></p>
        </form>
    </div>
{% endblock %}
