{% extends 'admin.html.twig' %}

{% block contetn %}
	<div class="container-fluid">
    <input class="mb-4" id="search_filter" type="" name="" placeholder="Поиск по имени пользователя">
    <div class="row" id="list_name">

      <div class="col-2">
        <div class="card_user onhover" data-toggle="modal" data-target="#exampleModal">
          <img src="img/default_user.png" alt="user">
          <p class="user_title"> Имя пользователя</p>
        </div>
      </div>

      <div class="col-2">
        <div class="card_user onhover" data-toggle="modal" data-target="#exampleModal">
          <img src="img/default_user.png" alt="user">
          <p class="user_title"> Имя пользователя</p>
        </div>
      </div>

      <div class="col-2">
        <div class="card_user onhover" data-toggle="modal" data-target="#exampleModal">
          <img src="img/default_user.png" alt="user">
          <p class="user_title"> Имя пользователя</p>
        </div>
      </div>

      <div class="col-2">
        <div class="card_user onhover" data-toggle="modal" data-target="#exampleModal">
          <img src="img/default_user.png" alt="user">
          <p class="user_title"> Имя пользователя</p>
        </div>
      </div>

    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <p>Бан в системе чатов</p>
            <button class="btn btn-primary">Разбанить</button>
            <button class="btn btn-danger">Забанить</button>
            <hr class="my-4">
            <p>Бан доступа на сайт</p>
            <button class="btn btn-primary">Разбанить</button>
            <button class="btn btn-danger">Забанить</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          <button type="button" class="btn btn-primary">Сохранить</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}