{% extends 'base.html.twig' %}
{% block includes %}
    <link rel="stylesheet" href="../css/football.css">
{% endblock %}
{% block content %}
	<div class="bg">
		<div class="container-fluid">
			<div class="container">
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb" style="background-color: transparent;">
				    <li class="breadcrumb-item"><a class="title-hock" href="/">Главная</a></li>
				    <li class="breadcrumb-item active" aria-current="page">Хоккей</li>
				  </ol>
				</nav>
				<p class="icons__title title-hock pb-4">Хоккей</p>
				<div class="row">
					<div class="col-xl-8">
						<div class="row mb-4">
							<div class="col-md-6 pr-xl-0">
								<div class="tournir__card onhover">
									<div class="toutrnir__card_subtitle"><img src="/img/match/football/hocimg.png" alt="" class="img-fluid">Лига чемпионов</div>
									<div class="tournir__card_blocktext">
										<p class="blocktext__date">6 мая</p>
										<p class="blocktext__time">12:45</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 pr-xl-0">
								<div class="tournir__card onhover">
									<div class="toutrnir__card_subtitle"><img src="/img/match/football/hocimg.png" alt="" class="img-fluid">Лига чемпионов</div>
									<div class="tournir__card_blocktext">
										<p class="blocktext__date">6 мая</p>
										<p class="blocktext__time">12:45</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 pr-xl-0">
								<div class="tournir__card onhover">
									<div class="toutrnir__card_subtitle"><img src="/img/match/football/hocimg.png" alt="" class="img-fluid">Лига чемпионов</div>
									<div class="tournir__card_blocktext">
										<p class="blocktext__date">6 мая</p>
										<p class="blocktext__time">12:45</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 pr-xl-0">
								<div class="tournir__card onhover">
									<div class="toutrnir__card_subtitle"><img src="/img/match/football/gold.png" alt="" class="img-fluid">Суперкубок УЕФА</div>
									<div class="tournir__card_blocktext">
										<p class="blocktext__date">6 мая</p>
										<p class="blocktext__time">12:45</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 pr-xl-0">
								<div class="tournir__card onhover">
									<div class="toutrnir__card_subtitle"><img src="/img/match/football/gold.png" alt="" class="img-fluid">Суперкубок УЕФА</div>
									<div class="tournir__card_blocktext">
										<p class="blocktext__date">6 мая</p>
										<p class="blocktext__time">12:45</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 pr-xl-0">
								<div class="tournir__card onhover">
									<div class="toutrnir__card_subtitle"><img src="/img/match/football/hocimg.png" alt="" class="img-fluid">Лига чемпионов</div>
									<div class="tournir__card_blocktext">
										<p class="blocktext__date">6 мая</p>
										<p class="blocktext__time">12:45</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 pr-xl-0">
								<div class="tournir__card onhover">
									<div class="toutrnir__card_subtitle"><img src="/img/match/football/hocimg.png" alt="" class="img-fluid">Лига чемпионов</div>
									<div class="tournir__card_blocktext">
										<p class="blocktext__date">6 мая</p>
										<p class="blocktext__time">12:45</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 pb-3 pr-xl-0">
								<button class="tour__btn blue-border">Следите за другими видами спорта</button>
							</div>
							<div class="col-md-4 pb-3 pr-xl-0">
								<button class="tour__btn green onhover" onclick="window.location='/football'">Футбол</button>
							</div>
							<div class="col-md-4 pb-3 pr-xl-0">
								<button class="tour__btn orange onhover" onclick="window.location='/basketball'">Баскетбол</button>
							</div>
						</div>
					</div>
					<div class="col-xl-4">
						<div class="row">
							<div class="col-xl-12 mb-4">
								<div class="table_block">
									<p class="table__title">ТОП  прогнозисты</p>
									<div class="column">
										<table>
											<tbody>
												<tr class="br-bottom">
													<td class="flex">
														<p class="text-left">
															Имя прогнозиста
														</p>
													</td>
													<td class="br-right">
														<span class="table__point">+5</span>
													</td>
													<td class="br-right">
														<span class="table__point">+3</span>
													</td>
													<td class="br-right">
														<span class="table__point">+1</span>
													</td>
													<td>
														<p class="flex__text">
															Итого
														</p>
													</td>
												</tr>
												<tr>
													<td class="flex">
														<img class="table_img" src="/img/main/table_noimg.png">
														<p class="before__text">
															Сергей0922
														</p>
													</td>
													<td class="br-right">
														34
													</td>
													<td class="br-right">
														120
													</td>
													<td class="br-right">
														230
													</td>
													<td>
														340
													</td>
												</tr>
												<tr>
													<td class="flex">
														<img class="table_img" src="/img/main/table_noimg.png">
														<p class="before__text">
															Сергей0922
														</p>
													</td>
													<td class="br-right">
														34
													</td>
													<td class="br-right">
														120
													</td>
													<td class="br-right">
														230
													</td>
													<td>
														340
													</td>
												</tr>
												<tr>
													<td class="flex">
														<img class="table_img" src="/img/main/table_noimg.png">
														<p class="before__text">
															Сергей0922
														</p>
													</td>
													<td class="br-right">
														34
													</td>
													<td class="br-right">
														120
													</td>
													<td class="br-right">
														230
													</td>
													<td>
														340
													</td>
												</tr>
												<tr>
													<td class="flex">
														<img class="table_img" src="/img/main/table_noimg.png">
														<p class="before__text">
															Сергей0922
														</p>
													</td>
													<td class="br-right">
														34
													</td>
													<td class="br-right">
														120
													</td>
													<td class="br-right">
														230
													</td>
													<td>
														340
													</td>
												</tr>
												<tr>
													<td class="flex">
														<img class="table_img" src="/img/main/table_noimg.png">
														<p class="before__text">
															Сергей0922
														</p>
													</td>
													<td class="br-right">
														34
													</td>
													<td class="br-right">
														120
													</td>
													<td class="br-right">
														230
													</td>
													<td>
														340
													</td>
												</tr>
												<tr>
													<td class="flex">
														<img class="table_img" src="/img/main/table_noimg.png">
														<p class="before__text">
															Сергей0922
														</p>
													</td>
													<td class="br-right">
														34
													</td>
													<td class="br-right">
														120
													</td>
													<td class="br-right">
														230
													</td>
													<td>
														340
													</td>
												</tr>
												<tr>
													<td class="flex">
														<img class="table_img" src="/img/main/table_noimg.png">
														<p class="before__text">
															Сергей0922
														</p>
													</td>
													<td class="br-right">
														34
													</td>
													<td class="br-right">
														120
													</td>
													<td class="br-right">
														230
													</td>
													<td>
														340
													</td>
												</tr>
												<tr>
													<td class="flex">
														<img class="table_img" src="/img/main/table_noimg.png">
														<p class="before__text">
															Сергей0922
														</p>
													</td>
													<td class="br-right">
														34
													</td>
													<td class="br-right">
														120
													</td>
													<td class="br-right">
														230
													</td>
													<td>
														340
													</td>
												</tr>
												<tr>
													<td class="flex">
														<img class="table_img" src="/img/main/table_noimg.png">
														<p class="before__text">
															Сергей0922
														</p>
													</td>
													<td class="br-right">
														34
													</td>
													<td class="br-right">
														120
													</td>
													<td class="br-right">
														230
													</td>
													<td>
														340
													</td>
												</tr>
												<tr>
													<td class="flex">
														<img class="table_img" src="/img/main/table_noimg.png">
														<p class="before__text">
															Сергей0922
														</p>
													</td>
													<td class="br-right">
														34
													</td>
													<td class="br-right">
														120
													</td>
													<td class="br-right">
														230
													</td>
													<td>
														340
													</td>
												</tr>
											</tbody>
										</table>
									</div>	 
									<a class="table_link blue-border" href="#">Все прогнозисты</a>
								</div>
							</div>
							<div class="col-xl-12 pb-4">
								<div class="advertising_block">
									<p>Реклама</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}